---
---

@import "minima";


.site-title { font-family: Georgia, Times, "Times New Roman", serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: bold; font-size: 26px; font-weight: 300; line-height: 54px; letter-spacing: -1px; margin-bottom: 0; float: left; }

body { font: 400 14px; }

h1 { font-family: Georgia, Times, "Times New Roman", serif; font-size: 8vw; font-style: normal; font-variant: normal; font-weight: bold; line-height: 26.399999618530273px; color: red;} 


h2, h3, h4 {font-family: Georgia, Times, "Times New Roman", serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: bold; font-size: 26px; font-weight: 300; line-height: 54px; letter-spacing: -1px; margin-bottom: 0; color: red; }

p {     text-indent: 2%; font-family: Georgia, Times, "Times New Roman", serif; font-size: 2vw; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18px; } 


blockquote { font-family: Georgia, Times, "Times New Roman", serif; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px; } 


pre { font-family: Georgia, Times, "Times New Roman", serif; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18.571430206298828px; }
